.formContainer{
    width: 500px;
    margin: 20px auto;
    border-radius: 8px;
    border: 1px solid #95A0A7;
    padding: 40px;
}
.formContainer h2 {
    text-align: center;
    color: #2A414F;
font-family: Lato;
font-size: 35px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.088px;
}
.formContainer label{
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
}
.formContainer input{
    width: 415px;
    height: 55px;
    border-radius: 5px;
     border: 1px solid #95A0A7;
     font-size: 1.5em;
     margin-bottom: 43px;
}
.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formContainer button{
    border-radius: 5px;
background: rgba(255, 153, 0, 0.30);
width: 415px;
height: 55px;
color: #0E161A;
font-family: Lato;
font-size: 21px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.032px;
}
.formContainer p{
    text-align: center;
    color: #2A414F;
/* Body 2 */
font-family: Lato;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.038px;
}
.link{
    color: #F90;
font-family: Lato;
font-size: 15px;
font-style: normal;
font-weight: bold;
line-height: normal;
letter-spacing: 0.038px;
text-decoration: none;
}
